In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
stock_df = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/stock.csv',index_col=0)
stock_df

                      Name   Symbol      marketcap  price (USD)        country
Rank
1                    Apple     AAPL  3047120961536     193.7300  United States
2                Microsoft     MSFT  2672984064000     359.4900  United States
3        Alphabet (Google)     GOOG  1573557764096     124.0800  United States
4                   Amazon     AMZN  1362889015296     132.8300  United States
5                   NVIDIA     NVDA  1173101871104     474.9400  United States
...                    ...      ...            ...          ...            ...
932       Quanergy Systems     QNGY        1196165       0.0740  United States
933              Triterras    TRIRF          38262       0.0005      Singapore
934   Pareteum Corporation     TEUM          14270       0.0000  United States
935                   Winc    WBEVQ           2659       0.0002  United States
936                   Ozon  OZON.ME              0       0.0000  United States

[936 rows x 5 columns]

In [4]:
stock_df.loc[stock_df['country'] == 'United States']

,Name,Symbol,marketcap,price (USD),country
Rank,,,,,
1,Apple,AAPL,3047120961536,193.7300,United States
2,Microsoft,MSFT,2672984064000,359.4900,United States
3,Alphabet (Google),GOOG,1573557764096,124.0800,United States
4,Amazon,AMZN,1362889015296,132.8300,United States
5,NVIDIA,NVDA,1173101871104,474.9400,United States
...,...,...,...,...,...
930,Grom Social Enterprises,GROM,3392043,0.3599,United States
932,Quanergy Systems,QNGY,1196165,0.0740,United States
934,Pareteum Corporation,TEUM,14270,0.0000,United States
935,Winc,WBEVQ,2659,0.0002,United States
936,Ozon,OZON.ME,0,0.0000,United States

### 크롤링

In [5]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.4.1)

In [6]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.crunchbase.com/organization/apple'

response = requests.get(url)

if response.status_code == 403: # 응답코드 403
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    title = soup.select_one('#mat-tab-nav-panel-19 > div > page-centered-layout > div > div > div.main-content > row-card:nth-child(2) > profile-section > section-card > mat-card > div.section-content-wrapper > div > fields-card:nth-child(1) > ul > li:nth-child(1) > field-formatter > identifier-multi-formatter > span > chips-container > a:nth-child(1) > chip > div > div')
    print(title)
else :
    print(response.status_code)

None